<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Advertising.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B86E421B3FFB79909EB77B3444626429166092A6</string>
				<key>dateExpires</key>
				<string>2020/12/1</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>STA4LU67YY.com.gugu.xiangmu</string>
				<key>com.apple.developer.team-identifier</key>
				<string>STA4LU67YY</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>STA4LU67YY.com.gugu.xiangmu</string>
				</array>
			</dict>
			<key>name</key>
			<string>Advertising.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>45f6c94f-c4ea-4816-9c0f-4b381e615da5</string>
				<key>name</key>
				<string>xiangmu_distrubit</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>STA4LU67YY</string>
				<key>name</key>
				<string>Shen Zhang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
